extends base

block content
  each pet in pets
    p Name: #{pet.name} Kind of pet: #{pet.species}
    form(action=`/owners/${owner.id}/pets/${pet.id}`)
       input(type="submit" value=`See ${pet.name}'s Page`)

  form(action=`/owners/${owner.id}/pets/new`) 
    input(type="submit" value="Create a new pet")