extends base

block content
  h2 Welcome to #{pet.name}'s show page!
  h4 My owner is #{pet.owner.name} and I am a #{pet.species}

  form(action=`/owners/${pet.owner.id}/pets/${pet.id}/edit`)
      input(type="submit" value="Edit")
  form(action=`/owners/${pet.owner.id}/pets/${pet.id}?_method=DELETE` method="POST")
    input(type="submit" value="Delete pet")

  form(action=`/owners/${pet.owner.id}/pets`)
    input(type="submit" value=`Back to ${pet.owner.name}'s pets page`)